section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #396039;
}

h1 {
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    color: #FAF0E6;
    font-weight: 700;
}

.loading-container {
    width: 253px;
    height: 309px;
    border-radius: 20px;
    background-color: #C4D0C4;

    img {
        width: 100%;
        height: 100%;
        position: relative;
        bottom: 42px;
    }
}