<div class="cookbook-wrapper">
  <div class="cookbook-container">
    <!-- Header -->
    <div class="cookbook-header">
      <a class="back-button" (click)="goBack()">
        <img src="../../../assets/img/Arrow 11.png" alt="">Back
      </a>
    </div>

    <!-- Cookbook Content -->
    <div class="cookbook-content">
      <div class="top-section">
        <div class="cookbook-intro">
          <h1>Cookbook</h1>
          <p>From quick bites to gourmet delights, explore them all in our ultimate cookbook and get inspired for your next culinary adventure.</p>
        </div>

        <!-- Most Liked Recipes Carousel -->
        <div class="liked-recipes-section">
          <div class="section-header">
            <h2>Most liked recipes</h2>
            <img src="../../../assets/img/favorite1.png" alt="">
          </div>

          <div class="carousel-container">
            <div 
              class="carousel-wrapper"
              (mousedown)="onDragStart($event)"
              (mousemove)="onDragMove($event)"
              (mouseup)="onDragEnd()"
              (mouseleave)="onDragEnd()">
              
              <div class="carousel-track" [style.transform]="getTransform()">
                <div class="recipe-card" *ngFor="let recipe of likedRecipes; let i = index">
                  <div class="recipe-card-content" (click)="viewRecipe(recipe.id, $event)">
                    <div class="recipe-meta">
                      <div class="recipe-time">
                        <img src="../../../assets/img/schedule.png" alt="">
                        <span>Cooking time: {{ recipe.cookingTime }}</span>
                      </div>
                      <div class="recipe-likes">
                        <span class="heart"><img src="../../../assets/img/favorite.png" alt="">{{ recipe.likes }}</span>
                      </div>
                    </div>
                    <h3>{{ recipe.title }}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Cuisine Categories -->
      <div class="cuisine-categories">
        <div class="category-card" *ngFor="let cuisine of recipes" (click)="browseCuisine(cuisine.title)">
          <h3 class="category-title">{{ cuisine.title }} <img [src]="'assets/img/' + cuisine.imgIcon" [alt]="cuisine.title"></h3>
          <div class="category-image">
            <img [src]="'assets/img/' + cuisine.img" [alt]="cuisine.title">
          </div>
        </div>
      </div>

      <!-- Generate New Recipe Button -->
      <div class="generate-section">
        <a class="generate-btn" routerLink="/generate-recipe">
          Generate new recipe <img src="../../../assets/img/Arrow 18 (1).png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>