<section>
    <div class="generate-recipe-container">
    <h1>Generate recipe</h1>
    <p>Got random stuff in your kitchen? Pop it in—we’ve got the perfect recipe waiting.</p>
    </div>
    
    <div class="content-wrapper">
        <div class="input-container">
        <label for="" class="input-label">
            <span>Ingredient</span>
            <input type="text">
        </label>

        <label for="" class="input-label">
            <span>Serving size</span>
            <div class="serving-inputs">
                <input type="text" placeholder="100">
                <select name="" id="">
                    <option value="piece">gram</option>
                    <option value="ml">ml</option>
                    <option value="gram">piece</option>
                </select>
                <button><img src="../../../assets/img/add_2.png" alt=""></button>
            </div>
        </label>
    </div>

    <div class="ingredients-list">
        <span>List of your Ingredients</span>
    </div>
    </div>

</section>
