section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1440px;
    height: 120px;
    display: flex;
    align-items: center;
    
    a {
        cursor: pointer;
        transition: transform 0.2s, filter 0.2s;

        &:hover {
            transform: scale(1.03);
            
            img {
                filter: brightness(0) saturate(100%) invert(88%) sepia(13%) saturate(370%) hue-rotate(327deg) brightness(98%) contrast(90%);
            }
        }
    }
}