<section>
    <div class="hero-section-container">
    <div class="text-content">
        <h2>AI-Powered recipe generator</h2>
        <h1>Code à Cuisine</h1>
        <button routerLink="/generate-recipe">Get Started</button>
        <div>
            <h3>Hungry for inspiration?</h3>
            <a routerLink="/">Go to cookbook <img src="../../../assets/img/Arrow 18.png" alt=""></a>
        </div>
    </div>
    <div class="image-content">
        <img src="../../../assets/img/hero1.png" alt="">
        <img src="../../../assets/img/hero2.png" alt="">
        <img src="../../../assets/img/hero3.png" alt="">
    </div>
    </div>
</section>
